@{
    ViewBag.Title = "EditMajor";
    var id = ViewBag.id;
}
<h2>Edit Major</h2>

<div id="divMajorEdit">


    Full Major Name : <input type="text" data-bind="value: $data.full_name" /><br />
    <br />
    Shorthand Major Name : <input type="text" data-bind="value: $data.shorthand_name" /><br />
    <br />
    Major Description : <input type="text" data-bind="value: $data.description" /><br />
    <br />
    <input type="button" data-bind="value: 'Update', click: $data.update" style="margin-left:80px" />
    <br /><br />
    <div id="divMessage"></div>
</div>

<script type="text/javascript">
    $(document).ready(function () {
        var viewModel = new AdminViewModel();
        viewModel.Load(@id);
    });

</script>
