@{
    ViewBag.Title = "EditInstructor";
    var id = ViewBag.id;
}

<h3>Edit Instructor</h3>
<div id="divInstructorEdit">
    <table>
        <tr>
            <td>First Name</td>
            <td><input data-bind="value: first_name" /></td>
        </tr>
        <tr>
            <td>Last Name</td>
            <td><input data-bind="value: last_name" /></td>
        </tr>
        <tr>
            <td>Title</td>
            <td><input data-bind="value: title" /></td>
        </tr>
        <tr>
            <td></td>
            <td><button data-bind="click: update">Update</button></td>
        </tr>
    </table>
</div>

<script type="text/javascript">
    $(document).ready(function () {
        var instructorViewModelObj = new InstructorViewModel();
        instructorViewModelObj.UpdateInstructor(@id);
        //instructorViewModelObj.Initialize();
    });
</script>
