@{
    ViewBag.Title = "Admin";
}
<h2>Welcome admin</h2>

<p>What feature should admin able to do?</p>
<ul>
    <li><a href="~/Admin/Edit?id=@ViewBag.id">Edit my info</a></li>
    <li><a href="~/Admin/StudentList">Show All Students</a></li>
    <li><a href="~/Admin/EditMajors">View/Edit Major</a></li>
    <li><a href="~/Admin/ManageScheduleDayTable">Manage Schedule Day</a></li>
    <li><a href="~/Admin/ManageScheduleTimeTable">Manage Schedule Time</a></li>
    <li><a href="~/Admin/NewCoursePlan">New Course Plan</a></li>
    <li><a href="~/Admin/ManageInstructors">Manage Instructors</a></li>
    <li><a href="~/Admin/ManageCourseSchedule">Manage Course Schedules</a></li>
</ul>
