@{
    ViewBag.Title = "InstructorList";
}
<h2>Manage Instructors</h2>
<div id="divEditInstructors">
    <table>
        <thead>
            <tr>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Title</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody data-bind="foreach: viewModel">
            <tr>
                <td data-bind="text: first_name"></td>
                <td data-bind="text: last_name"></td>
                <td data-bind="text: title"></td>
                <td>
                    <!-- Note, this is an example using knockout templating. $data is the keyword
                        to for each element of the viewModel array -->
                    <div data-bind="template: { name: 'action-template', data: $data}"></div>
                </td>
            </tr>
        </tbody>
    </table>
    <a data-bind="attr: { href : '/Admin/CreateInstructor', title: 'create' }">Add new instructor</a>
</div>

<script type="text/html" id="action-template">
    <!-- in the template, $data is each element of the viewModel which contains "id" -->
    <a data-bind="attr: { href : '/Admin/EditInstructor', title: 'edit' }">edit</a>
    <a data-bind="DeleteInstructor: $data">delete</a>
    <a data-bind="DeleteInstructorAsync: $data">delete async</a>
</script>

<script type="text/javascript">
    $(document).ready(function () {
        var instructorViewModelObj = new InstructorViewModel();
        instructorViewModelObj.Load();
    });
</script>
