@{
    ViewBag.Title = "NewCourseSchedule";
}
<h2>New Course Schedule</h2>

<div id="divNewCourseSchedule">


    Year : <input type="text" data-bind="value: $data.year" /><br />
    <br />
    Quarter : <input type="text" data-bind="value: $data.quarter" /><br />
    <br />
    Session : <input type="text" data-bind="value: $data.session" /><br />
    <br />
    Course : <input type="text" data-bind="value: $data.course" /><br />
    <br />
    Instructor : <input type="text" data-bind="value: $data.instructor" /><br />
    <br />
    <input type="button" data-bind="value: 'Update', click: $data.add" style="margin-left:80px" />
    <br /><br />
    <div id="divMessage"></div>
</div>

<script type="text/javascript">
    $(document).ready(function () {
        var viewModel = new AdminViewModel();
        viewModel.Load(@id);
    });

</script>