@{
    ViewBag.Title = "NewCoursePlan";
}
<h2>New Course Plan</h2>

<div id="divNewCoursePlan">


    Course Title : <input type="text" data-bind="value: $data.course_title" /><br />
    <br />
    Cuorse Level : <input type="text" data-bind="value: $data.course_level" /><br />
    <br />
    Major Description : <input type="text" data-bind="value: $data.course_description" /><br />
    <br />
    <input type="button" data-bind="value: 'Update', click: $data.update" style="margin-left:80px" />
    <br /><br />
    <div id="divMessage"></div>
</div>

<script type="text/javascript">
    $(document).ready(function () {
        var viewModel = new AdminViewModel();
        viewModel.Load(@id);
    });

</script>