@{
    ViewBag.Title = "Prerequisites";
    var id = ViewBag.id;
}

<h3>Prerequisite Courses</h3>

<div id="divCoursePrereqs">
    <table>
        <thead>
            <tr>
                <th>Prerequisite Courses</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody data-bind="foreach: viewModel">
            <tr>
                <td data-bind="text: title"></td>
                <td><a data-bind="click: removeprereq">remove</a></td>
            </tr>
        </tbody>
    </table>
</div>
<div id="divCoursePrereqsAdd">
    <h4>Add a new prereq</h4>
    <span>
        <label>Child course:</label>
        <select data-bind="options: availablecourses,
                           optionsText: 'title',
                           value: selected"></select>
    </span>
    <button data-bind="click:createprereq">Add</button>
</div>

<script type="text/javascript">
    $(document).ready(function () {
        var courseViewModelObj = new CourseListViewModel();
        courseViewModelObj.LoadPrereqs(@id);
    });
</script>
