@{
    ViewBag.Title = "Edit Student";
    var id = ViewBag.Id;
}
<h3>Edit Student</h3>


<div id="divStudentEdit">

    <table>
        <tr>
            <td>Id</td>
            <td><input data-bind="value: viewModel.id" /></td>
        </tr>
        <tr>
            <td>SSN</td>
            <td><input data-bind="value: viewModel.ssn" /></td>
        </tr>
        <tr>
            <td>First</td>
            <td><input data-bind="value: viewModel.first" /></td>
        </tr>
        <tr>
            <td>Last</td>
            <td><input data-bind="value: viewModel.last" /></td>
        </tr>
        <tr>
            <td>Email</td>
            <td><input data-bind="value: viewModel.email" /></td>
        </tr>
        <tr>
            <td>Password</td>
            <td><input type="password" data-bind="value: viewModel.password" /></td>
        </tr>
        <tr>
            <td>Shoe Size</td>
            <td><input data-bind="value: viewModel.shoesize" /></td>
        </tr>
        <tr>
            <td>Weight</td>
            <td><input data-bind="value: viewModel.weight" /></td>
        </tr>
        <tr>
            <td></td>
            <td><button data-bind="click: viewModel.add">Add</button></td>
        </tr>
    </table>
</div>

<script type="text/javascript">
    $(document).ready(function () {
        var viewModel = new StudentViewModel();
        viewModel.LoadEdit('@id');
    });
</script>